* {
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: monospace;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin:0;
}

h1{
    font-size: 4rem;
}

p, h1 {
    margin: 0;
}

footer{
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

img {
    height: 35vh;
}

.centerText{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin:auto
}

.centerText::before{
    content:"{";
    margin-right: 0.5em;
}

.centerText::after { 
    content: "}";
    margin-left: 0.5em;
}

.centerText::after,
.centerText::before{
    font-size: 5rem;
    font-weight: normal;
}


@media (orientation: portrait) {
    img {
        height: 10vh;
    }

    h1{
        font-size: 2rem;
    }

    .centerText::after,
    .centerText::before{
        font-size: 2rem;
        font-weight: normal;
    }

}